        .h1
        {
        float :left;
        }
        .h2
        {
        float : right;
        }
        h1,h2,h3  {

          font-family: "Raleway",Arial,sans-serif;
          font-weight: 400;
          font-size: 13px;
            }

        :invalid {
          background-color: #4bbcdb;
          border-color: #e88;
          -webkit-box-shadow: 0 0 5px rgba(75, 188, 219, .8);
          -moz-box-shadow: 0 0 5px rbba(75, 188, 219, .8);
          -o-box-shadow: 0 0 5px rbba(75, 188, 219, .8);
          -ms-box-shadow: 0 0 5px rbba(75, 188, 219, .8);
          box-shadow:0 0 5px rgba(75, 188, 219, .8);
        }

        :required {
          border-color: #0000;
          -webkit-box-shadow: 0 0 5px rgba(255, 255, 255, .5);
          -moz-box-shadow: 0 0 5px rgba(255, 255, 255, .5);
          -o-box-shadow: 0 0 5px rgba(255, 255, 255, .5);
          -ms-box-shadow: 0 0 5px rgba(255, 255, 255, .5);
          box-shadow: 0 0 5px rgba(255, 255, 255, .5);
        }

        form {
          width:300px;
          margin: 20px auto;
        }

        input {
          font-family: "Raleway", Arial, sans-serif;
          border:1px solid #ccc;
          font-size:20px;
          width:300px;
          min-height:30px;
          display:block;
          margin-bottom:15px;
          margin-top:5px;
          outline: none;

          -webkit-border-radius:5px;
          -moz-border-radius:5px;
          -o-border-radius:5px;
          -ms-border-radius:5px;
          border-radius:5px;

        }

        input[type=submit] {
          background:none;
          padding:10px;
          cursor: pointer;
        }

        label{
          cursor: pointer;
        }
        a {
        font-family: "Raleway", Arial, sans-serif;
        }
        .button{
        background-color: #000000;
        Color:white;
        font-weight: bold;
        padding: 10px 40px;
        border-radius: 3px;
        cursor: pointer;
        box-shadow: 0 8px 16px 0 grey;
        display: flex;
  align-items: center;
  justify-content: center;


        }
